.selected{
    text-decoration: underline;
}

li{
    line-height: 3ch;
}

.button{
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: .25em;
    cursor: pointer;
}

#closet{
    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #C6E8DA;
    z-index: 1;
    border: 1vw inset #8999a8;
}

#closet-door{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color: #FDEFE3;
    border: 1px solid  #C6E8DA;
    min-height: 100vh;
    min-width: 100vw;
    transition: all 1s ease-out;
}
.open{
    opacity: 0;
    pointer-events: none;
    /* transform: translateX(-100vw); */
}