h1{
    color: #ef8457;
    font-weight: 400;
    cursor: pointer
}

.selected{
    text-decoration: underline;
}

li{
    line-height: 3ch;
}

.button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 0em .125em 0em .125em;
    cursor: pointer;
    transition: all .5s ease-out;
}

#closet{
    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #e8dfd6;
    z-index: 1;
    border: 1em inset #959187;
    padding: 1em;
}

#closet-door{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color:#e8dfd6;
    border: 1em solid  #959187;
    padding: 1em;
    min-height: 100vh;
    min-width: 100vw;
    transition: all 1s ease-out;
}

.todo-list li{
    list-style: none;
}

.color-picker{
    height: 4em;
    width: 2em;
    border: none;
}


.todo-checkbox, .save-button, .edit-button{
    cursor: pointer;
}

.open{
    /* opacity: 0; */
    pointer-events: none;
    transform: translateX(-100vw); 
}

.checked{
    color: #8999a8;
}